fieldset#edit-preview{
    width: 100%;
    margin: 0px auto;
    padding-top: 0px;
    padding: 0px;
    min-height: 490px;
}

.preview-wrapper h1, .preview-wrapper h4, .preview-wrapper p, .preview-wrapper pre, .preview-wrapper ul, .preview-wrapper li{
/*    margin: 0;
    padding: 0;
    border: 0;
*/    vertical-align: baseline;
    background: transparent;
}

.preview-wrapper li{
    cursor: pointer;
    outline: 0;
    text-decoration: none;
    -webkit-transition-property: background color;
    -moz-transition-property: background color;
    -o-transition-property: background color;
    -ms-transition-property: background color;
    transition-property: background color;
    -webkit-transition-duration: 0.12s;
    -moz-transition-duration: 0.12s;
    -o-transition-duration: 0.12s;
    -ms-transition-duration: 0.12s;
    transition-duration: 0.12s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

#doc-content #preview-nav{
    height: 100%;
    margin: auto;
    color: #fff;
}

#doc-content #preview-nav ul.preview-tabs{
    float: left;
    width: 25%;
    display: block;
    position: relative;
    top: 0;
    border: 1px solid #777;
    border-right-width: 0;
    margin: auto 0;
    padding:0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#doc-content #preview-nav ul.preview-tabs.slide{
    margin-left: -25%
}

#doc-content #preview-nav ul.preview-tabs li
{
    list-style-type: none;
    display: block;
    /*text-shadow: 0px 1px 1px #000;*/
    font-size: 14px;
    position: relative;
    border-right-width: 0;
    border-bottom: 1px solid #777;
    margin: auto;
    padding: 10px 2%;
    background: #666;
    moz-box-shadow: inset 0 0 35px 5px #5A5A5A;
    -webkit-box-shadow: inset 0 0 35px 5px #5A5A5A;
    box-shadow: inset 0 0 35px 5px #5A5A5A;
}

#doc-content #preview-nav ul.preview-tabs li.level-1{
    font-weight: bold;
}

#doc-content #preview-nav ul.preview-tabs li.level-2{
    padding-left: 1.5em;
}

#doc-content #preview-nav ul.preview-tabs li.level-3{
    padding-left: 2.5em;
    font-style: italic;
}


#doc-content #preview-nav  ul.preview-tabs  li:hover{
    moz-box-shadow: inset 0 0 35px 5px #666;
    -webkit-box-shadow: inset 0 0 35px 5px #666;
    box-shadow: inset 0 0 35px 5px #666;    
}
#doc-content #preview-nav  ul.preview-tabs  li.current
{
    color: #FFF;
    border-right: none;
    z-index: 10;
    background: #999 !important;
    position: relative;
    moz-box-shadow: inset 0 0 35px 5px #888;
    -webkit-box-shadow: inset 0 0 35px 5px #888;
    box-shadow: inset 0 0 35px 5px #888;
}

#doc-content #preview-nav  ul.preview-tabs  li.first.current
{
    border-bottom: 1px solid #666;
}

#doc-content #preview-nav  ul.preview-tabs  li.last
{
    border-bottom: none;
}

#doc-content #preview-nav  div.preview-section>fieldset
{
    border: 1px solid #ddd;
    background-color: rgba(0,0,0,.03);
    min-height: 496px;
    position: relative;
    z-index: 9;
    color: #333;
    padding: 0;
}
#doc-content #preview-nav .preview-section>fieldset>* {
    padding: 10px;
}

#doc-content #preview-nav fieldset {
    border: 0 none;
    padding: 0;
    margin: 0;
}

#doc-content #preview-nav .preview-button{
    float: right;
    margin: 10px;
}

#doc-content #preview-nav .preview-title-form{
    display: none;
}

#doc-content #preview-nav .preview-contents-form{
    display: none;
}

#doc-content #preview-nav .document-content{
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid transparent;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#doc-content #preview-nav .document-content:hover{
    background: rgba(255,255,255,.8);
    border: 2px solid #ffaaaa;
    box-shadow: 0 0 30px #ffffee
}

#doc-content #preview-nav fieldset[id^="edit-edit"]{
    border: 1px solid #999;
    border-radius: 10px;
    position: absolute;
    top: 976px;
    z-index: 100;
    box-shadow: 0 0 60px #333;
    background: #bbb;
    width: 100%;
    display: none;
}