/* Polycom Document Import Administrative Styles */

.page-admin-doc-import .form-item {
    background: #EEE;
}
#node_type_book_fieldset_wrapper{
    background: #FFF;
}
#edit-node-type-book {
    display: inline;
    background: rgb(211,238,251); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(211,238,251,1) 0%, rgba(233,246,253,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211,238,251,1)), color-stop(100%,rgba(233,246,253,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(211,238,251,1) 0%,rgba(233,246,253,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(211,238,251,1) 0%,rgba(233,246,253,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(211,238,251,1) 0%,rgba(233,246,253,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(211,238,251,1) 0%,rgba(233,246,253,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3eefb', endColorstr='#e9f6fd',GradientType=0 ); /* IE6-9 */
}
fieldset legend{
    background: #FFF;
}
.fieldset-title {
    background: #FFF;
}

#edit-node-type-book .form-item{
    display:inline-block;
    width: 187px;
    margin: 5px 10px;
    padding: 5px 10px;
    box-shadow:0 0 20px #C0C0C0;
    background: rgb(214,214,214); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(214,214,214,.7) 27%, rgba(196,196,196,.7) 70%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(27%,rgba(214,214,214,.7)), color-stop(70%,rgba(196,196,196,.7))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(214,214,214,.7) 27%,rgba(196,196,196,.7) 70%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(214,214,214,.7) 27%,rgba(196,196,196,.7) 70%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(214,214,214,.7) 27%,rgba(196,196,196,.7) 70%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(214,214,214,.7) 27%,rgba(196,196,196,.7) 70%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#c4c4c4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */





}

#edit-node-type-book .form-item:hover{
background: rgb(206,226,192); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(206,226,192,1) 28%, rgba(207,221,199,1) 73%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(28%,rgba(206,226,192,1)), color-stop(73%,rgba(207,221,199,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(206,226,192,1) 28%,rgba(207,221,199,1) 73%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(206,226,192,1) 28%,rgba(207,221,199,1) 73%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(206,226,192,1) 28%,rgba(207,221,199,1) 73%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(206,226,192,1) 28%,rgba(207,221,199,1) 73%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cee2c0', endColorstr='#cfddc7',GradientType=0 ); /* IE6-9 */

}

#edit-node-type-book .fieldset-content{
    background: transparent;
}