.wrapper
{
    width: 660px;
    margin: 0px auto;
    padding-top: 0px;
    min-height: 490px;
}

.wrapper h1, .wrapper h4, .wrapper p, .wrapper pre, .wrapper ul, .wrapper li
{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
}

.wrapper li
{
    outline: 0;
    text-decoration: none;
    -webkit-transition-property: background color;
    -moz-transition-property: background color;
    -o-transition-property: background color;
    -ms-transition-property: background color;
    transition-property: background color;
    -webkit-transition-duration: 0.12s;
    -moz-transition-duration: 0.12s;
    -o-transition-duration: 0.12s;
    -ms-transition-duration: 0.12s;
    transition-duration: 0.12s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

#v-nav
{
    height: 100%;
    margin: auto;
    color: #CCC;
}

#v-nav >ul
{
    float: left;
    width: 130px;
    display: block;
    position: relative;
    top: 0;
    border-right: 1px solid #666;
    margin: auto 0 !important;
    padding:0;
}

#v-nav >ul >li
{
    width: 100px;
    list-style-type: none;
    display: block;
    font-size: 14px;
    position: relative;
    border-bottom: 0;
    margin: auto;
    padding: 10px 15px !important;
    
}

#v-nav >ul >li:hover{
    cursor: pointer;
    text-decoration: underline;
}
#v-nav >ul >li.current
{
    color: #FFF;
    border-right: none;
    z-index: 10;
    background: rgba(255,255,255,.05) !important;
    position: relative;
}

#v-nav >ul >li.first.current
{
    border-bottom: 0;
}

#v-nav >ul >li.last
{
    border-bottom: none;
}

#v-nav >div.tab-content
{
    margin-left: 130px;
    min-height: 496px;
    position: relative;
    z-index: 9;
    padding: 1em;
    display: none;
}

#v-nav >div.tab-content p{
    margin-bottom: 10px;
}

#v-nav >div.tab-content >h4
{
    font-size: 1.2em;
    color: Black;
    padding-top: 5px;
    padding-bottom: 5px;
}
