/**
 * @file: workflow-manage.css
 *
 * Style overrides for workflow manage forms
 */

#doc-content ul.nav.nav-stacked li:before{
    content: '';
}

/* == Workflow edit styles == */

.document-content {
    position: relative;
}

.workflow-indicator {
    position: absolute;
    left: -1.5em;
    height: 100%;
    width: 1em;
}

.workflow-insert {
    display: none;
}

.workflow-insert fieldset {
    padding: 0;
    margin: 0;
}

/* Created or N/A*/
.workflow-state-id-41,
.workflow-state-id- {
    background-color: rgba(255,0,0,1);
    content: 'Invalid state';
    rotation: 90;
}

/* In review */
.workflow-state-id-46 {
    background-color: rgba(255,0,0,.1);
}

/* Submitted */
.workflow-state-id-51{
    background-color: rgba(255,200,0,.2);
}

/* Approved */
.workflow-state-id-56{
    background-color: rgba(0,255,0,.1);

}

/* Published */
.workflow-state-id-61{
    background-color: rgba(0,150,0,.5);
}

/* == Workflow update list group overrides == */

.node-type-import-ticket #shift-workflow fieldset {
    border: 0;
    margin-bottom: 2em;
}

.workflow-insert {
}

.page-set .workflow-comment {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: -1;
    transition: .2s all;
    display: none;
}

.page-set .form-radios {
    position: relative;
}

.page-set .workflow-comment.in {
    display: block;
    z-index: 20;
    box-shadow: 0 20px 50px #999
}

.workflow-insert .workflow-comment {
    position: absolute;
    width: 250%;
    right: -140%;
    bottom: 0;
    margin: 0;
    z-index: -1;
    transition: .2s all;
}

.description {
    font-size: .9em;
    color: #999;
}

.workflow-insert .workflow-comment.in{
    right: 110%;
}

.workflow-update {
    text-align: center;
}

.workflow-update.current {
    color: #fff;
    font-weight: bold;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.workflow-update.current:hover {
    color: #fff;
    background-color: #47a447;
    border-color: #398439;
}

.form-stacked .btn-default {
    border-color: #ddd;
    color: #4A698F;

}

.form-stacked .btn.active {
    color: #fff;
}
.form-stacked .btn-group {
    float: none;
    display: block;
    position: inherit;
}

.form-stacked .btn-group > .btn {
    width: 100%;
}

.form-stacked label.option {
    display: block;
    padding: 10px 15px;
}

.form-stacked .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
    border-top: 0;
}

.form-stacked .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-top: 1px solid #ddd;
}

.form-stacked .btn-group > .btn:last-child:not(:first-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-width:  1px;
}

.btn-group-vertical .panel-body {
    padding: 15px 0px;
}
