/* Stylesheet for doc_redirect
 *
 * Specifies style overrides for index tables
 */

table.redirect-index{
    width: 50%;
}

table.redirect-index th{
    font-weight: bold;
}

table.redirect-index td{
    cursor: default;
}
table.redirect-index td.level-0{
    font-size: 1.2em;
    padding-left: 0;
    font-weight: bold;
}

table.redirect-index td.level-1{
    font-size: 1.1em;
    padding-left: 40px;
}

table.redirect-index td.level-2{
    font-size: 1em;
    padding-left: 80px;
    font-style: italic;
}

table.redirect-index td.level-3{
    font-size: 1em;
    padding-left: 120px;
}

table.redirect-index td.tid{
    font-size: 1.2em;
    font-weight: bold;
}

table.redirect-index tr:hover,
table.redirect-index tr.odd:hover{
    background-color: #ffe;
}

