/* === Document Title bar === */
/* fixed title block */

#navbar-header {
  margin: 0 auto;
  float: none;
}

.title-block-fixed {
  width: 100%;
}

.navbar.title-block-fixed {
  min-height: inherit;
  margin: 0;
}
.navbar-default.title-block-fixed {
  background-color: #eee;
  transition: .3s box-shadow ease-out, .3s background-color ease-out, .3s color ease-out;
  box-shadow: 0 0 10px rgba(0,0,0,0);
}

.affix.navbar-default.title-block-fixed {
  background-color: #888;
  box-shadow: 0 0 10px rgba(0,0,0,.9);
  right: 0;
  border-radius: 0;
  border-color: rgba(0,0,0,.05);
  
}
.title-block-fixed .navbar-btn {
  margin:0;
}
.title-block-fixed.affix-top {
  z-index: 10;
}
.title-block-fixed.affix .region-inner{
  margin: 0 auto;
  z-index: 10;
}

.title-block-fixed.affix {
  position: fixed;
  top: 0;
  z-index: 10;
  padding-left: 30px;
}

.title-block-fixed .navbar-header > [class^="col-md-"] {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.title-block-fixed .navbar-left {
  padding-left: 0;
}

.title-block-fixed .navbar-right {
  padding-right: 0;
}

/* Forms */

.title-block-fixed form {
  display: inline-block;
}

.title-block-fixed .search-form {
  margin: 0;
}

.dropdown-menu .search-form button {
  color: #000;
}

.dropdown-menu.search-dropdown {
  padding: 1em 2em;
}

.title-block-fixed .container-inline div {
  display: inline-table;
}
.title-block-fixed .navbar-form {
  margin: 0 .5em;
  padding: 1px 0;
}

.title-block-fixed .inline {
  padding: 0;
  margin: 0;
  max-height: 32px;
}

/* General dropdown settings */

.dropdown-menu.small {
  width: 8em;
}

.dropdown-menu.medium {
  width: 17.5em;
}

.dropdown-menu.large {
  width: 35em;
}


/* Buttons */
.btn.btn-tb-fixed {
  color: rgba(0,0,0,.5);
  background: rgba(255,255,255,.1);
  border: 1px solid rgba(0,0,0,0);
  border-top: 0;
  border-bottom: 0;
  transition: 1s background-color;
  transition: 1s color;
  transition: 1s border-color;
}

.related .btn.btn-tb-fixed {
  color: rgba(200,0,0,1);
}

.affix .related .btn.btn-tb-fixed {
  color: rgba(255,255,255,1);
}
.btn.btn-tb-fixed .glyphicon {
  color: rgba(0,0,0,.5);
}
.btn.btn-tb-fixed:hover {
  background: rgba(0,0,0,.3);
}

.btn.btn-tb-fixed .caret {
  border-top-color: rgba(0,0,0,.3);
  margin-left: .5em;
}

.affix.btn.btn-tb-fixed {
  background-color: rgba(0,0,0,.2);
}

.fixed-wrapper {
  margin: 0 auto;
}

.dropdown-menu .toc-list.toc {
  max-height: 500px;
  overflow-y: auto;
}

.item-list ul.toc li {
  margin: 0;  
}

li.switcher {
  border-color: rgba(255,255,255,.5);
  border-right-color: transparent;
}

.settings-panel {
  margin-bottom: 2em;
}

.settings-panel:not(.active) {
  display: none;
}

li.switcher:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

li.switcher:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right-color: rgba(255,255,255,.5);
}

.switcher a {
  width: 100%;
}

.btn.btn-tb-fixed.warning {
  background-color: #fcf8e3;  
}

.btn.btn-tb-fixed.warning .glyphicon {
  color: #8a6d3b;
}

/* Google translate override */
.title-block-fixed .dropdown-menu .goog-te-gadget-simple a {
  color: #000;
}

/* Settings dropdown */
.title-block-fixed .dropdown-menu.settings-dropdown {
  margin: 0;
  padding: 1em 0em;
}

.settings-block.shaded.dark,
.title-block-fixed .toc-main > .block-content {
  background: rgba(0, 0, 0, .1);
  margin: 0;
  border-radius: 4px;
}

.title-block-fixed .toc-main .btn {
  font-size: inherit;  
}

.settings-block.first {
  border-left: 0;
}

.navbar-left .settings-block.translations  h3 {
  text-align: center;
}

.settings-block ul {
  margin: 0;
  padding: 0;
}

/* General Glyphicon settings */

ul li .glyphicon {
  margin-right: .5em;
}

/* Buttons */

.btn.btn-header {
  color: #fff;
  background-color: #ccc;
  font-size: 1.4em;
  padding: 0 0 2px 0;
}


.btn-block.procedure,
.btn-block.table {
    text-align: left;
}

.btn.procedure {
  /*background-color: rgba(0,0,0,.1);*/
  margin-bottom: 1em;
  font-weight: bold;
}

.btn.table {
  /*background-color: rgba(0,100,200,.1);*/
  margin-bottom: 1em;
}

.on-this-page-dropdown-main {
  max-height: 600px;
  overflow-y: scroll;
}

.on-this-page-dropdown li {
  padding: 0;
  margin: 0;
  padding-left: .5em;
}

.on-this-page-dropdown li a {
  padding: 0 0 0 .5em;
}

.on-this-page-dropdown .nav>li>a:hover, .nav>li>a:focus {
  background: rgba(255,255,255,.1);
}

.on-this-page-dropdown li.active {
  font-weight: bold;
}

.on-this-page-dropdown li.active a {
}

.on-this-page-dropdown .tocify-subheader {
  padding-left: 1em;
  border-top: 1px solid rgba(255,255,255,.2);
  width: 100%;
  display: none;
}

.on-this-page-dropdown .tocify-subheader li a {
  color: #ccc;
}

.tocify-item .glyphicon {
  opacity: 0;
}

.tocify-item.active .glyphicon {
  opacity: 1;
}

.title-block-fixed h1.block-title {
  font-size: 1.2em;
  border-bottom: 2px solid #999;
  padding-bottom: 0.2em;
  margin: 0.5em 0 1em 0;
  text-transform: uppercase;
  color: #eee;
}

.panels-container {
  margin-bottom: 1em;
}

.actions-panel {
  margin-top: 1em;
}

/* === DOCUMENT NAVIGATION ===
 */

/* ===== Cover Page TOCs ===== */

.book-top .technet-col-last {
    min-height: 700px;
    background: url('images/branding/title-background.png') left bottom no-repeat #FFF;
}

.book-top .technet-col-last h2 {
  font-size: 1.1em;
  color: #666;
  border-bottom: 2px solid #999;
  margin: 1em -10px 0 -10px;
}

.toc ul,
ul.toc,
.toc .item-list ul{
  margin-left: 1.5em;
  margin-right: 1em;
  list-style: none;
  padding: 0;
}

.toc ul li {
  margin: 0;
  padding: 0;
}

.toc button.justify,
.toc a.justify{
  padding-left: 0;
}

.toc .btn,
.toc a.btn {
  margin: 2px 0;
  background-color: rgba(0,0,0,.2);
  color: #4A698F;
  border: 0;
}

.dropdown-toc .toc a.btn {
  color: #ddd;
}

.book-top .toc .btn,
.book-top .toc a.btn {
  font-weight: bold;
}
.toc a.btn {
  display: block;
  padding: 6px 0;
  white-space: normal;
}

.toc .link-title a,
.toc-aggregated>a{
  color: #d11c23;
  font-weight: bold;
}

.dropdown-toc .toc .link-title a {
  color: #fff;
}

.toc div.link-title>a.btn {
  margin-left: 1.2em;
}

.toc a.btn:hover {
  text-decoration: none;
}

.toc .btn:hover,
.toc .btn.collapsed:hover,
.toc .single .btn:hover,
a.toc-aggregated:hover{
  color: #000;
  background-color: rgba(0,0,0,.1);
}

.dropdown-menu .toc .btn:hover,
.dropdown-menu .toc .btn.collapsed:hover,
.dropdown-menu .toc .single .btn:hover,
.dropdown-menu a.toc-aggregated:hover{
  color: #fff;
  background-color: rgba(0,0,0,.1);
}

.toc .btn:not(.collapsed):focus,
.toc a.btn:not(.collapsed):focus,
a.toc-aggregated:not(.collapsed):focus{
  color: #333;
}

.toc .btn.collapsed,
.toc .single .btn,
.toc .single.btn,
.toc a.single.btn,
.toc a.single .btn,
a.toc-aggregated{
  background-color: rgba(0,0,0,.0);
  border: none;
}

.toc li.single {
  padding: 0;
}

.toc .single .btn{
  padding: 0 0 0 26px;
  width: 100%;
}

.toc .single a.btn {
  padding: 6px 26px;
}
.toc .btn.caption {
  margin: 1em 0 0 0;
  padding: .5em;
  background-color: rgba(0,0,0,.05);
}

.toc .btn.caption:hover {
  background-color: rgba(0,0,0,.1);
}

.book-ui .technet-col-first-inner{
  background: url('images/textures/noisy-texture-100x100-o3-d12-c-555-t1.png') repeat #555;
  min-height: 700px;
  border-radius: 4px;
  padding-top: 1em;
  padding-bottom: 1em;
}

.book-ui .technet-col-first .region-inner.affix-top {
  padding-top: 35px;  
}

.book-ui .technet-col-first .region-inner.affix {
  position: fixed;
  top: 0;
  overflow-y: scroll;
  width: 31.5%;
}

.book-inside .technet-col-last {
  padding-top: 1em;
  background: #fff;
}

.book-top .toc{
  padding: 1em;
  background-color: rgba(245,245,245,0.8);
  margin: 0 -10px;
}


.book-ui #toc-page-links {
  background: transparent;
  box-shadow: none;
}

/* === Multipass Block Styles === */

.book-ui .multipass-block h2{
  color: #ccc;
  font-size: 1.1em;
  font-weight: normal;
  border-bottom: 2px solid #ccc;
  padding-bottom: 0.1em;
}

.multipass-block ul {
  margin: 0 0 0 1em;
  font-size: .9em;
  list-style-type: none;
}

.multipass-block ul li {
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.multipass-block button.btn.btn-tb-fixed,
.multipass-block a.btn-btn-tb-fixed,
.multipass-block ul li a:link,
.multipass-block ul li a:visited{
  color: #eee;
}

.multipass-block .view-grouping {
  margin-bottom: 2px;
}

.multipass-block .view-grouping .view-grouping {
  margin: .1em 0 1em 1em;
}

.multipass-block .view-grouping-content {
  margin-top: .2em;
}


/* ===== Book UI Nav elements ===== */

/* Navigation buttons - universal */
.book-navigation {
  opacity: 1;
  transition: background-color .2s, width .2s;
}

.book-navigation:hover{
}

/* Left/right nav panes */

.technet-section-4 {
  min-height: 450px;
}

.side-nav-bars{
  position: fixed;
  width: 15px;
  font-size: 0;
  overflow: hidden;
}



#nav-left-container{
}

#nav-right-container{
}


/* === Navigation links ==== */

.book-navigation{
  display: block;
  height: 100%;
}

.book-navigation a,
.book-navigation a:link,
.book-navigation a:visited{
    background-image: url("images/ui/page-next-prev.png");
    background-repeat: no-repeat;
    width: 15px;
    height: 500px;
    overflow: hidden;
    text-decoration: none;
    transition: color .1s, width .3s, opacity .2s;
    opacity: .5;
    display: block;
}

.book-navigation a:hover {
  opacity: 1;
}
.book-navigation a.page-previous {
  background-position: -108px center;
}

.book-navigation a.page-next {
  background-position: -55px center;
}

.book-navigation .page-up {
  /* Prevent text wrapping to a new line, assumes English "up" is used (two characters) */
  min-width: 2em;
  white-space: nowrap;
}

.book-navigation a.page-up {
  color: #666;
  border-radius:7px;
  font-weight: bold;
}
.book-navigation a.page-up:hover {
  background: none #999;
  color: #000;
  text-decoration: none;
}

.book-navigation.footer {
  display: none;
}


/* == Flyin navigation links == */

#doc-content {
  padding-bottom: 7em;
}

.nav-flyin.btn {
  position: absolute;
  bottom: 1em;
  width: 33%;
  transition: all .5s;
  opacity: 0;
  padding: 0;
  border: 1px solid transparent;
  background: #eee;
}

.nav-flyin h4 {
  margin: 0em 0 0 0;
  padding: 0;
  font-weight: bold;
  border-bottom: 1px solid rgba(0,0,0,0.1)
}

.nav-flyin a {
  color: #333;
  display: block;
  font-size: .9em;
  line-height: 1.2em;
  transition: all .2s;
  width: 100%;
  min-height: 5em;
  border: 0;
  white-space: normal;
  padding: 5px;
}

.nav-flyin a:hover {
  text-decoration: none;
  background: #ebebeb;
}
.nav-flyin .inner {
  vertical-align: middle;
  color: #ddd;
  background-color: transparent;
  font-size: 1.1em;
  margin: 0;
  padding: 0;
  transition: all .5s;
  overflow: hidden;
  width: 100%;
}


.nav-flyin.next {
  right: -33%;
  background-position: 118% center;
}

.nav-flyin .arrow {
  background: url("images/ui/arrow-leftright.png") 0px 0px no-repeat;
  width: 15px;
  position: relative;
  min-height: 5em;
}

.nav-flyin.next .arrow {
  right: 0;
  float: right;
  background-position: -39px center;
}

.nav-flyin.next a {
  padding-right: 25px;
}

.nav-flyin.prev {
  left: -33%;
  background-position: -14px center;

}

.nav-flyin.prev .arrow {
  float: left;
  background-position: -55px center;
}

.nav-flyin.prev a {
  padding-left: 25px;
}

.nav-flyin.next.in {
  right: 2.5%;
  opacity: 1;
}

.nav-flyin.prev.in {
  left: 2.5%;
  opacity: 1;
}

.nav-flyin.prev .inner {

}

.nav-flyin.next .inner {

}

/* Navigation buttons - TOC overrides */
.book-navigation .page-links {
    margin: 0 auto;
    width:190px;
    display: none;
}


.pane-advancedbookblocks-0 ul li{
  padding: 5px;
}


.book-navigation .menu {
  margin-left: 0;
}

.book-node-title{
  font-size: 2em;
}

/* == publish status alert == */
.publish-status {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
  text-align: center;
  font-weight: bold;
  z-index: 10;
  box-shadow: 0 0 10px #000;
}

.publish-status.published {
  background-color: darkgreen;
  color: #fff;
}

.publish-status.unpublished {
  background-color: #d11c23;
  color: #fff;
}